*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 100%;
    display: block;
}
ul {
    list-style-type: none;
}
.container {
    width: 65%;
    margin: auto;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 3px solid $primary_color;
    font-weight: bold;
    color: white;

    // Color 
    &-blue {
        background-color: $primary_color;
    }

    &-transparent {
        background-color: none;
    }

    // Dimensions 
    &-wide {
        padding: 5px 30px;
        font-size: 15px;
    }

    &-regular {
        padding: 10px 15px;
    }
} 